doctype html
html
  head
    title= "Cosine Similarity Measure"
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,300,600')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/skeleton.css')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  body(class='has-docked-nav')
    .container
      .navbar-spacer
      nav(class='navbar')
          .container
            ul(class='navbar-list')
              li(class='navbar-item')
                a(class='navbar-link' href='#') Home
              li(class='navbar-item')
                a(class='navbar-link' href='#code') Code
              li(class='navbar-item')
                a(class='navbar-link' href='#example') Example
              li(class='navbar-item')
                a(class='navbar-link' href='#contact') Contact
    block content